<!DOCTYPE html>
<html>
<head>
  <meta property="og:title" content="<%= @user.username %>" />
  <meta property="og:description" content="<%= @user.tagline %>" />
  <meta property="og:image" content="<%= user_url(@user.username, format: :png) %>" />
</head>
<body>
  <h1><%= @user.username %></h1>
  <div class="tagline"><%= @user.tagline %></div>
</body>
</html>
